extends ../layouts/common
block content
	#main
		.container-fluid.p-0.rounded.shadow
			h2(class="ml-2 mt-2 text-info h2 p-2")
				i.fa.fa-user.text-light
					if user
						span= user.name
			.d-flex
				a(href="/users/create", class="btn btn-create ml-3 mb-3") New
					
			table.table
				tr
					th.text-info Name
					th.text-info Phone
					th.text-info Action

				each user in users
					tr
						td= user.name
						td= user.phone
						td
							a.btn.btn-light(href="/users/" + user.id) View


	script.
		var searchInput = document.getElementById('searchItem');
		searchInput.value = sessionStorage.getItem('draft');
		searchInput.addEventListener('change', function(){
		sessionStorage.setItem('draft', searchInput.value);
		});